{% extends "layout.html" %}
{%block title%}Landing{%endblock%}

{%block content%}
    <div class="text-center">
        <h1>Welcome to Wiseance!</h1>
        <p>This is a website where you can track amazon prices as well as get a hold on your budget!</p>
        <div class="row">
            <div class="col-lg-6 text-left">
                <h2>Wishlist</h2>
                <ul>
                    <li>Track Which Products you need/want</li>
                    <li>Easily add/remove items</li>
                    <li>Get alerts when deals happen</li>
                </ul>
            </div>
            <div class="col-lg-6 text-left">
                <h2>Budgeter</h2>
                <ul>
                    <li>Make your own budget</li>
                    <li>Specify how much you want to save</li>
                    <li>Get data on your budget, including percentages, how much you have left to save, and more!</li>
                </ul>
            </div>
        </div>
    </div>
{%endblock%}