{% extends "layout.html" %}

{% block title %}View Budget{% endblock %}
{% block scripts %}<script src="{{url_for('static', filename='js/budget.js', version=11)}}"></script>{% endblock %}

{% block content %}
    <div class="text-center">
        {% if data %}
                <h1>Current Budget</h1>
                <img src="{{ url_for('static', filename=img_path) }}">
            
            {% if data.spending_left|is_negative is sameas true %}
                <h2>You've spent <span id="money">{{data.spending_left|usd}}</span> too much:</h2>
            {% else %}
                <h2>You have <span id="money">{{data.spending_left|usd}}</span> left to spend:</h2>
            {% endif %}
            <form action="/viewbudget" method="POST">
                {{form.csrf_token}}
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-2">
                            <label>{{form.money.label}}</label>
                            {{form.money(class="form-control")}}
                        </div>
                        <div class="col-lg-5"></div>
                    </div>
                </div>
                {% if form.money.errors %}
                    <ul class="errors">
                        {% for error in form.money.errors %}
                            <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div class="p-2">
                <button type="button" class="btn btn-primary" id="resetbutton">Reset</button>
            </div>
            <div class="p-2">
                <a href="/makebudget">
                    <button type="button" class="btn btn-primary">Change Budget</button>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}